.svg_preview_box .frdef {
  marker-end: url(markers.svg#MarkerArrowEnd);
  stroke-dasharray: 2 10;
  stroke: blue;
  stroke-width: 3;
}
.svg_preview_box .frline {
  marker-end: url(markers.svg#MarkerArrowEnd);
  stroke: red;
  stroke-width: 1;
}
.svg_preview_box .frline[data-flipy] {
  marker-start: url(markers.svg#MarkerArrowDown);
}
